@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-video {
    width: 100%;
    /* height: 40vw; Set your desired height */
    object-fit: cover; /* This will help maintain the aspect ratio and fill the container */
  }

  
.contact_icon {
  color: #fff;
  border-radius: 50px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: 2px 2px 3px #999;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #54a15d;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}
@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}